# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/

# Django
backend/staticfiles/
backend/media/
backend/.env

# Node
frontend/node_modules/
frontend/.next/
frontend/.env.local

# OS
.DS_Store
